{% extends 'htmls/base.html' %}

{% block title%} Meals{% endblock %}
{% block css %}

{% endblock %}
{% load static %}
{% block body %} 
<div class="Hole ">
<div class="Hbody">
       
    <div class="menu" style="   ">
        
        <div class="heading">
        
            <h1>ROCCO'S BISTRO</h1>
            <h3>&mdash; MENU &mdash; </h3>
        </div>
        {% for non in nonveg %}
        <div class="food-items  " >
            <img src="/media/{{non.image}}">
            <div class="details">
                <div class="details-sub">
                    <h5>{{non.food_name}}</h5>
                    <h5 class="price">Rs {{ non.price }} </h5>
                </div>
                <p>{{ non.desc }}</p>
                <button>Add To Cart</button>
            </div>
        </div>
   
        {% endfor %}
    </div>


    

</div> <!--Hbody-->

</div>  <!--Hole-->

{% comment %} Pagignator {% endcomment %}
{% comment %} <div class="con1" style="background-color:#ba8080;padding:20px">
    <div class="row">
    <div class="col-12 d-flex justify-content-center">
          <span>
        {% if meal.has_previous %}
            <a class="btn btn-primary " href="?page={{meal.previous_page_number}}">Prev</a>
        {% endif %}
            <span class="btn btn-info ">{{ meal.number }}</span>
        {% if meal.has_next %}
            <a class="btn btn-primary  " href="?page={{meal.next_page_number}}">Next</a>
        {% endif %}
        </span> 
    </div>
    </div>
</div> {% endcomment %}


{% endblock %}